@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2f4444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Arial", "Helvetica", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
